.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  height: 36px;
  cursor: pointer;
  background-color: #6b90dc;
  padding: 0 10px;
  color: #fff;
}

.nav ul {
  display: flex;
  gap: 1rem;
}

.nav ul li {
  padding: 4px 10px;
  background-color: #f7f7f7;
}
